/* layout.scss */
@import "../../Styles/color";

body {
  background-color: $dark-grey-bg;
  color: $text-color;
}

.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  padding: 0 20px;
}

main {
  margin-top: 6em;
  width: 100%;
  flex-grow: 1;
}

img,
table,
video,
iframe {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  main {
    margin-top: 7em;
  }
}
