/* layout.scss */

// Importera din färgvariabel-fil först.
@import "../../Styles/color";

// Globala stilar som matchar din design
body {
  background-color: $dark-grey-bg;
  color: $text-color;
}

// Huvudlayout för hela sidan
.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


// Huvudinnehåll - main-taggen
main {
  margin-top: 6em;
  width: 100%;
  flex-grow: 1;
}

// Generella stilar för media
img,
table,
video,
iframe {
  max-width: 100%;
  height: auto;
}
