/* layout.scss */

/* Använder body som Flexbox-container för att centrera allt innehåll */
/* Gäller enbart om du har tagit bort Flexbox från body i din app.css */
body {
margin: 0; 
padding: 0; 
display: flex;

}

/* Denna behållare styr utrymmet under den fixade headern */
.layout {
    width: 100%; 
    min-height: 100vh;
    margin-top: 10em;
    position: relative;
    z-index: 1;
    
    background-color: transparent;

}

/* Wrapper som styr maxbredden på innehållet */
.page-wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}



/* Alla barn fyller wrappern */
.page-wrapper > * {
  box-sizing: border-box;
  width: 100%;
}

/* Huvudinnehåll - Main-taggen */
.page-wrapper main {
  width: 100%;
  flex-grow: 1;
}

.content-wrapper{
    width: 90%;
    margin: 0 auto;
    padding: 0;
    
}