*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-background);
}

a {
  font-weight: 500;
  color: var(--color-links);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-links-hover);
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 2.2em;
  line-height: 1.1;
  font-family: var(--font-h3);
  color: var(--color-headings);
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
