// src/styles/_colors.scss

// SCSS-variabler för färger
$accent-green: #98d093;
$accent-purple: #b94ed2;
$accent-yellow: #f8b646;
$accent-red: #892f5d;
$dark-grey-bg: #353534;
$text-color: #e4e4e4;

// Övriga globala variabler
$shadow-default: 4px 4px 4px 0px #4a4e69;

@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 0px 0px $accent-red;
  }
  50% {
    box-shadow: 0 0 10px 5px $accent-red;
  }
  100% {
    box-shadow: 0 0 0px 0px $accent-red;
  }
}
