@import "../../Styles/color";
.page-content {
  display: flex;
  flex-direction: column;

  .zoo-content {
    width: 100%;
    h1,
    p {
      text-align: center;
    }
  }

  .zoo-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    width: 100%;

    padding: 2em;
  }

  .theZooPageAnimal {
    flex: 1 1 clamp(15em, 30%, 20em);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-bottom: 2rem;
    border-radius: 8px;
    overflow: hidden;

    height: auto;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
    }

    h2 {
      text-align: center;
    }
    p {
      padding: 1em;
      text-align: center;
    }
  }

  .theZooPageAnimal {
    &.mätt {
      border: solid 5px $accent-green;

      &:hover {
        transform: translateY(-10px);

        box-shadow:
          0 12px 24px rgba(0, 0, 0, 0.3),
          -5px -5px 5px #98d093,
          5px -5px 5px #98d093;
      }
    }

    &.hungrig {
      border: solid 5px $accent-yellow;
      box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.15),
        -2px -2px 8px #f8b646,
        2px -2px 8px #f8b646;

      transition:
        transform 0.3s ease-out,
        box-shadow 0.3s ease-out;
      animation: glow-pulse-yellow 5s infinite alternate; // Namn | Tid | Upprepas oändligt | Växla riktning

      &:hover {
        transform: translateY(-10px);

        box-shadow:
          0 12px 24px rgba(0, 0, 0, 0.3),
          -10px -10px 25px #f8b646,
          10px -10px 25px #f8b646;
      }
    }

    &.desperat {
      border: solid 5px $accent-red;
      box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.15),
        -2px -2px 8px #892f5d,
        2px -2px 8px #892f5d;

      transition:
        transform 0.3s ease-out,
        box-shadow 0.3s ease-out;
      animation: glow-pulse-red 5s infinite alternate; // Namn | Tid | Upprepas oändligt | Växla riktning

      &:hover {
        transform: translateY(-10px);

        box-shadow:
          0 12px 24px rgba(0, 0, 0, 0.3),
          -10px -10px 25px #892f5d,
          10px -10px 25px #892f5d;
      }
    }
  }
}
