@import "../../Styles/color";

/* Standardstil för mobilt */
.header {
  background-color: $dark-grey-bg;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center; // Centrering vertikalt

  .header-container {
    width: 90%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em 0;
    background-color: $accent-green;
    margin-top: 0.5em;
  }

  .header-icon {
    height: 4em;
    transform: scaleX(-1);
    margin-left: 1em;
  }

  .header-nav {
    display: flex;
    align-items: center;
    font-size: 1em; // Mindre font-storlek för mobilt
    font-weight: bold;
    text-transform: uppercase;
    flex-grow: 1;

    ul {
      list-style: none;
      display: flex;
      margin: 0 auto;
      padding: 0;
      justify-content: space-around;
      width: 80%;

      li {
        margin: 0;
        a {
          color: $dark-grey-bg;
          text-decoration: none;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: $accent-purple;
          }
        }
      }
    }
  }
}

/* Anpassning för skärmar > 768px (Desktop-version) */
@media (min-width: 768px) {
  .header {
    height: 6em;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    .header-container {
      padding: 0;
    }

    .header-icon {
      height: 5em;
    }

    .header-nav {
      font-size: 2em; // Återgå till större font-storlek för desktop
    }
  }
}

/* Extra små skärmar < 360px */
@media (max-width: 450px) {
  .header {
    .header-nav {
      font-size: 0.8em; // krymp ännu mer för riktigt små mobiler
    }

    .header-icon {
      height: 3em; // gör loggan lite mindre också om du vill
    }
  }
}
