@import "../../Styles/color";

.header {
  background-color: $dark-grey-bg;
  border-radius: 8px;
  height: 6em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-container {
    width: 90%;
border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: $accent-green;
    margin-top: 0.5em;
  }

  .header-icon {
    height: 5em;
    transform: scaleX(-1);
    margin-left: 1em;
  }

  .header-nav {
    display: flex;
    align-items: center;

    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    flex-grow: 1;
    
    ul {
      list-style: none;
      display: flex;
      margin: 0 auto;
      padding: 0;
      justify-content: space-around;
      width: 80%;

      li {
        margin: 0;
                a {
          color: $dark-grey-bg;
          text-decoration: none;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: $accent-purple;

          }
        }
      }
    }
  }
}