@import "../.././pages/Layout/Layout.scss"; // Justera sökvägen till din Layout.scss

/* Standardstil för mobilt */
.homeBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-image: url('/images/camaleont_gemeni_darker.png');
  transform: scaleX(-1);
  background-size: cover;
  background-position: right 6em;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero {
  position: fixed;
  top: 6em;
  right: 0;
  padding: 0 2em;
  width: 50%;
  padding-top: 7em;
}


/* Anpassning för skärmar > 500px */
@media (min-width: 500px) {
  .homeBackground {
    background-size: contain;
  }
}

/* Anpassning för skärmar > 1500px */
@media (min-width: 1500px) {
  .homeBackground {
    background-size: contain;
  }
}