/* app.css */

/* Sätter box-sizing för alla element. Denna regel ska alltid ligga först. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Globala stilar för body och HTML */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #70BCEE; /* global fallback-färg */
}

/* Gör bilder responsiva */
img,
table,
video,
iframe {
  max-width: 100%;
  height: auto;
}